@import "tailwindcss";
@config "../tailwind.config.js";
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body {
    font-family: 'DM Sans', sans-serif;
    
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: clip;
  width: 100%;
}

